<section id="ships-sidebar" class="d-flex flex-column">
  <h4 class="text-center pt-1">Select Ships</h4>
  <h6 class="text-center">Drag and drop ships to place them on the board</h6>
  <div class="all-ships-container container-fluid pb-2 pt-3 d-flex flex-column h-100">
    <div class="ships-wrapper h-100 p-2">
        <app-ships></app-ships>
    </div>
  </div>
</section>
