:host {
    #ships-sidebar {
      width: 275px;
      height: 100vh;
      background: #f5f5f5;
      .all-ships-container{
          .ships-wrapper{
              border: 1px solid #333;
          }
      }
    }
}
