<section class="h-100 p-4">
  <div class="board-container content d-flex">
    <!-- <div *ngFor="let board of boards; let i = index"> -->
    <table class="board is-bordered">
      <tbody>
        <tr class="alphabets-row">
          <td></td>
          <th *ngFor="let alpha of rowAlphabets">{{alpha}}</th>
        </tr>
        <tr class="board-row" *ngFor="let row of boards?.tiles; let j = index">
          <td class="numbers-tile" [ngStyle]="{'width': 'calc(100% / ' + (boards.tiles.length + 1) + ')'}">{{j + 1}}</td>
          <td class="board-tile" *ngFor="let col of row; let k = index" id="t{{j}}{{k}}" [ngStyle]="{'width': 'calc(100% / ' + (boards.tiles.length + 1) + ')'}"
            [class.ship-attacked]="col.used && col.hit === true" [class.ship-missed]="col.used && col.hit === false" [class.ship-occupied]="col.occupied === true"
            [class.ship-hover-allowed]="hoverTiles.indexOf(j + ',' + k) > -1" [class.ship-hover-not-allowed]="hoverTiles?.notAllowed"
            (click)="fireArtillery(j,k)">
            <div [dragula]="'bag-ships'" id="target" [attr.data-xCords]="j" [attr.data-yCords]="k"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- </div> -->
  </div>
</section>
