:host {
  .board-container {
    outline: 3px solid #071640;
    background: linear-gradient(to right, #f5f5f5, #d3f1ff);
    height: 600px;
    width: 600px;
    table.board {
      height: 98%;
      width: 98%;
      margin: auto;
      tr {
        &.alphabets-row {
          text-align: center;
        }
        &.board-row {
          >td {
            &.numbers-tile {
              text-align: center;
            }
            &.board-tile {
              border: 1px solid grey;
              height: fit-content;
              position: relative;
              &.ship-hover-allowed {
                background: green;
              }
              &.ship-hover-not-allowed {
                background: yellow;
              }
              &.ship-occupied {
                background: blue;
              }
              &.ship-attacked {
                background: green;
              }
              &.ship-missed {
                background: red;
              }
              &:hover:not(.ship-missed):not(.ship-attacked) {
                background: url("../../../assets/ship-attack.svg") no-repeat;
                background-size: contain;
                cursor: crosshair;
              }
              div {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
  }
}
